<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Korean Chess With Irelia!</title>

</head>
<body>
<script type="text/javascript">
    window.piece_map = { b1 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Zol.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b2 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b3 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sa.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b4 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b5 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Po.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b6 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Cha.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    b7 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_King.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
     r1 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Byung.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r2 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r3 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sa.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r4 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r5 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Po.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r6 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Cha.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
    r7 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_King.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;transition:all 0.5s linear;"/>',
     }
     window.moving_piece_map = { b1 : '<img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Zol.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b2 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b3 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sa.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b4 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b5 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Po.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b6 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Cha.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    b7 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Green_King.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
     r1 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Byung.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r2 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r3 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sa.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r4 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r5 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Po.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r6 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Cha.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
    r7 : '<img class="moving_piece" width="45" height="40" src="http://img.hovits.com/korean_chess/Red_King.png" style="position:absolute;margin-left:3px;margin-top:4px;left:0;top:0;opacity: 0.6;"/>',
     }
     window.rand_pos_map = ['masangsangma','sangmasangma','masangmasang','sangmamasang']

     window.default_state_map = [
        ['r6', 0, 0, 'r3', 0, 'r3', 0, 0, 'r6'],
        [0, 0, 0, 0, 'r7', 0, 0, 0, 0],
        [0, 'r5', 0, 0, 0, 0, 0, 'r5', 0],
        ['r1', 0, 'r1', 0, 'r1', 0, 'r1', 0, 'r1'],
        [0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0],
        ['b1', 0, 'b1', 0, 'b1', 0, 'b1', 0, 'b1'],
        [0, 'b5', 0, 0, 0, 0, 0, 'b5', 0],
        [0, 0, 0, 0, 'b7', 0, 0, 0, 0],
        ['b6', 0, 0, 'b3', 0, 'b3', 0, 0, 'b6'],
    ]

    window.POSITION_TYPE_LIST = {
        masangmasang: [
            ['b6', 'b4', 'b2', 'b3', 0, 'b3', 'b4', 'b2', 'b6'],
            ['r6', 'r2', 'r4', 'r3', 0, 'r3', 'r2', 'r4', 'r6'],
        ],
        masangsangma: [
            ['b6', 'b4', 'b2', 'b3', 0, 'b3', 'b2', 'b4', 'b6'],
            ['r6', 'r4', 'r2', 'r3', 0, 'r3', 'r2', 'r4', 'r6'],
        ],
        sangmasangma: [
            ['b6', 'b2', 'b4', 'b3', 0, 'b3', 'b2', 'b4', 'b6'],
            ['r6', 'r4', 'r2', 'r3', 0, 'r3', 'r4', 'r2', 'r6'],
        ],
        sangmamasang: [
            ['b6', 'b2', 'b4', 'b3', 0, 'b3', 'b4', 'b2', 'b6'],
            ['r6', 'r2', 'r4', 'r3', 0, 'r3', 'r4', 'r2', 'r6'],
        ],
    }


    

    function init() {
        document.getElementById('mapbg').innerHTML = '';
        window.id_map = JSON.parse(JSON.stringify(window.map))
        for (var i = 0 ; i < window.map.length ; i++) {
            var row = window.map[i];
            for (var j = 0 ; j < row.length ; j++) {
                if (row[j] == 0){
                    continue;
                }
                document.getElementById('mapbg').innerHTML += window.piece_map[row[j]];

                cur_piece = document.getElementById('mapbg').children[document.getElementById('mapbg').children.length-1];
                cur_piece.style.left = (j * 50) + "px";
                cur_piece.style.top = (i * 45) + "px";
                if ( row[j][0] == window.color ){
                    cur_piece.setAttribute('onclick', 'selectPiece("'+row[j]+'", '+j+', '+i+');');
                }
                cur_piece.setAttribute("id", "piece_"+i+"_"+j)
                window.id_map[i][j] = "piece_"+i+"_"+j
            }
        }


        window.step_no = 0;
        window.death = 0;
        window.selected_piece = null;
    }

    function review() {
        init();
        window.review_interval_id = setInterval(step, 1000 * document.getElementById('interval').value)

        document.getElementById('but_pause').removeAttribute('disabled')
        document.getElementById('but_next').setAttribute('disabled', 'disabled')
    }


    function pause(){
        clearInterval(window.review_interval_id);
        document.getElementById('but_pause').setAttribute('disabled', 'disabled')
        document.getElementById('but_restart').removeAttribute('disabled')
        document.getElementById('but_next').removeAttribute('disabled')
    }

    function restart(){
        window.review_interval_id = setInterval(step, 1000 * document.getElementById('interval').value)
        document.getElementById('but_restart').setAttribute('disabled', 'disabled')
        document.getElementById('but_pause').removeAttribute('disabled')
        document.getElementById('but_next').setAttribute('disabled', 'disabled')
    }

    function next(){
        if (!window.map) {
            init();
            return;
        }
        step();
    }

    function play() {
        document.getElementById('setting').style.display = "block"
        document.getElementById('but_replay').style.display = "inline-block"
        document.getElementById('but_play').setAttribute('disabled', 'disabled')
    }

    function replay(){
        document.getElementById('setting').style.display = "block"
    }

    function choice_color(color) {
        window.color = color
        document.getElementById('setting').style.display = "none"
        document.getElementById('position_type_' + color).style.display = "block"
    }

    function get_rand_pos() {
        return window.rand_pos_map[Math.floor((Math.random() * 4))];
    }

    function choice_position(position) {
        if(window.color == 'b'){
            if(position == 'random'){
                b_pos = get_rand_pos();
            }else{
                b_pos = position;
            }
            r_pos = get_rand_pos();
        }else{
            if(position == 'random'){
                r_pos = get_rand_pos();
            }else{
                r_pos = position;
            }
            b_pos = get_rand_pos();
        }

        default_map = JSON.parse(JSON.stringify(window.default_state_map));
        default_map[0] = window.POSITION_TYPE_LIST[r_pos][1];
        default_map[9] = window.POSITION_TYPE_LIST[b_pos][0];

        if(window.color == 'r'){
            default_map = reverse_map(default_map);
        }

        window.map = default_map;
        init();
        document.getElementById('position_type_' + color).style.display = "none"

        if(window.color == 'r'){
            step_by_irelia();
        }else{

            get_actions();
        }
    }

    function step_by_irelia(){
        //color, current state map
        window.irelia_turn = true;
        get_irelia_action();
    }

    function get_irelia_action(){
        var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
             response = JSON.parse(this.responseText);
             if( !response || response['error'] == true){
                alert('sorry unknown error..');
                return;
             }
             step(response, window.color == 'b' ? 'r' : 'b');
            checkGameState();
            get_actions();
            }
          };
          irelia_color = window.color=='b'?'r':'b';
          xhttp.open("GET", "http://hovits.com:5000/action?side="+irelia_color+"&state_map="+JSON.stringify(window.map), true);
          xhttp.send();
    }
    
    function selectPiece(piece, x, y){
        if(window.irelia_turn){
            return false;
        }

        if(window.selected_piece){
            if(window.selected_piece == x+":"+y){
                window.selected_piece = null;
                remove_moving_pieces();
                return;
            }else{
                window.selected_piece = null;
                remove_moving_pieces();
            }
        }

        if(window.actions[x+":"+y]){
            action_list = window.actions[x+":"+y];
        }else{
            return;
        }

        window.selected_piece = x+":"+y;
        document.getElementById('mapbg').innerHTML += '<div id="moving_piece_layer"></div>';
        for(var i =0 ;i<action_list.length;i++){
            action = action_list[i]
            to_x = action.to_x
            to_y = action.to_y
            showAction(piece,x,y,to_x, to_y, i);
        }
         
        //alert(x + ':' + y);
    }
    
    function showAction(piece, x,y,to_x, to_y, i){
        piece = window.moving_piece_map[piece]
        document.getElementById('moving_piece_layer').innerHTML += piece;

        cur_piece = document.getElementById('moving_piece_layer').children[document.getElementById('moving_piece_layer').children.length-1]
        cur_piece.style.left = (to_x * 50) + "px"
        cur_piece.style.top = (to_y * 45) + "px"
        cur_piece.setAttribute('onclick', 'step_by_user('+x+', '+y+', '+to_x+', '+to_y+');');
    }

    function parse_actions(action_list){
        result = {};
        for(var i=0;i<action_list.length;i++){
            action = action_list[i];
            key = action['x'] + ":" + action['y'];
            if(!result[key]){
                result[key] = [];
            }
            result[key].push(action);
        }
        return result;
    }
    
    function get_actions(){
        var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
             response = JSON.parse(this.responseText);
             if( !response || response['error'] == true){
                alert('sorry unknown error..');
                return;
             }

             window.actions = parse_actions(response);
             window.irelia_turn = false;
            }
          };
          xhttp.open("GET", "http://hovits.com:5000/actions?side="+window.color+"&state_map="+JSON.stringify(window.map), true);
          xhttp.send();
    }

    function remove_moving_pieces()
    {
        document.getElementById('moving_piece_layer').remove();
    }

    function step_by_user(x, y, to_x, to_y){
        remove_moving_pieces();
        step({x:x,y:y,to_x:to_x,to_y:to_y}, window.color)
        window.irelia_turn = true
        checkGameState();
        step_by_irelia();
    }
    
    function checkGameState(){
    }

    function step(step_data, color) {

        document.getElementById(window.id_map[step_data.y][step_data.x]).style.left =  (step_data.to_x * 50) + "px"
        document.getElementById(window.id_map[step_data.y][step_data.x]).style.top =  (step_data.to_y * 45) + "px"
        if (window.map[step_data.to_y][step_data.to_x] != 0 && window.map[step_data.to_y][step_data.to_x][0] != color) {

            document.getElementById(window.id_map[step_data.to_y][step_data.to_x]).style.left = (window.death * 40) + 450 + "px"
            document.getElementById(window.id_map[step_data.to_y][step_data.to_x]).style.top = "400px"
            window.death += 1
        }
        window.map[step_data.to_y][step_data.to_x] = window.map[step_data.y][step_data.x]
        window.map[step_data.y][step_data.x] = 0
        window.id_map[step_data.to_y][step_data.to_x] = window.id_map[step_data.y][step_data.x]
        window.id_map[step_data.y][step_data.x] = 0

        window.step_no += 1
    }


    function reverse_map(map) {
        var flatten_arr = [].concat.apply([], map);
        reverse_arr = flatten_arr.reverse()
        var reversed_map = [];
        while(reverse_arr.length) reversed_map.push(reverse_arr.splice(0,9));
        return reversed_map;
    }


</script>
<div style="width:450px;height:40px;border:1px solid gray;">
    <span id="step_no"></span>
</div>
<div id="mapbg"
     style="width:450px; height:450px; background-image: url('http://img.hovits.com/korean_chess/Jang_Gi_Pan_2.jpg');position:relative;border:1px solid gray;background-size: cover;">
</div>
<div>
    <input id="but_play" type="button" value="play!" onclick="play();"/>
    <input id="but_replay" type="button" value="replay!" onclick="replay();" style="display:none"/>
</div>
<div id="setting" style="display:none;width:400px; height:200px;">
    <div>Choice Blue or Red!!</div>
    <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_King.png" onclick="choice_color('b')"/>
    <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_King.png" onclick="choice_color('r')"/>

</div>
<div id="position_type_b" style="display:none;">
    <div>Choice Position Type!!</div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('random')">RANDOM</div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('masangmasang')">
        Ma Sang Ma Sang<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('masangsangma')">
        Ma Sang Sang Ma<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('sangmamasang')">
        Sang Ma Ma Sang<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('sangmasangma')">
        Sang Ma Sang Ma <br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Green_Ma.png"/>
    </div>

</div>

<div id="position_type_r" style="display:none;">
    <div>Choice Position Type!!</div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('random')">RANDOM</div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('masangmasang')">
        Ma Sang Ma Sang<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('masangsangma')">
        Ma Sang Sang Ma<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('sangmamasang')">
        Sang Ma Ma Sang<br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
    </div>
    <div style="display:inline-block;border:1px solid gray;" onclick="choice_position('sangmasangma')">
        Sang Ma Sang Ma <br/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Sang.png"/>
        <img width="45" height="40" src="http://img.hovits.com/korean_chess/Red_Ma.png"/>
    </div>

</div>
</body>
</html>
